@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color: #d3e3eb;
  color: black;
  font-size: 16px;
  width: 1100px;
  font-family: "monsterate", "Georgia", "Times New Roman", serif;
  margin: 0 auto 0 auto;
}

header {
  text-align: center;
  margin: 60px 0;
}

nav {
  margin-top: 60px 0;
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #141618;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 40px 0 40px;
}

nav a:hover {
  color: yellow;
}

section {
  margin-bottom: 40px;
  background-color: white;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat"sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

div.post-content {
  padding: 30px 240px;
}

div.post-content a {
  color: black;
}

div.post-content a:hover {
  color: yellow;
}

div.post-details {
  color: #adadad;
  font-size: 12px;
  font-family: "monsterate", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-top: 2px solid #adadad;
}

footer {
  text-align: center;
  font-family: "monsterate", sans-serif;
  color: #7e8081;
}

footer a {
  padding: 0 16px;
  text-decoration: none;
}

/* Contact Style sheet */
form.div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 12px;
  font-family: "monsterate", sans-serif;
  text-transform: uppercase;
}

input[type=Email], input[type=text], textarea {
  width: 100px;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  border: 1px;
  border-radius: 4px;
  font-family: "monsterate", "Georgia", "Times New Roman", serif;
}

textarea {
  height: 100px;
  resize: vertical;
}

input[type="submit"] {
  background-color: ;
}